* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: purple;
}

form {
    background-color: white;
    max-width: 560px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px yellow;
}

form h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

form input[type=number] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

form input[type=submit] {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: purple;
    color: white;
    border: 0;
    margin-top: 15px;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 20px;
}

p {
    text-align: center;
}

form input[type=submit]:hover {
    background-color: #530e53;
}

div {
    margin-top: 10px;
}